.navbar {
  text-transform: lowercase;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    li {
      margin-left: 1ch;
      &::after {
        content: ".";
      }
      a {
        text-decoration: none;
        &:hover {
          border-bottom: var(--main-dark) 2px solid;
        }
      }
    }
  }
}

.active {
  border-bottom: var(--dark) 2px solid;
}