.navbar {
  text-transform: lowercase;
  ul {
    list-style-type: none;
    display: flex;
    li {
      &::after {
        content: ".";
        text-decoration: none;
      }
      a {
        text-decoration: none;
        :active {
          text-decoration: underline;
        }
      }
    }
  }
}
